redirects: on
source https://www.nuget.org/api/v2
// Note: pin FAKE, FSharp core and FsUnit until problems with new FSharp version are fixed
nuget FAKE
nuget FSharp.Core
nuget FsUnit
nuget NUnit.Console